<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <!-- Removed favicon link -->
        <link rel="icon" href="data:,">
        <!-- Datatables -->
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.css') }}">
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>

        <title>Employee Directory MVC</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
        <!-- Popper.js, Bootstrap JS, dataTables -->        
        <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script>
    </body>

</html>