{% extends 'layout/layout.html' %}

{% block body %}
<div class="container">
  <div class="col">
  </div>
  <div class="col">
    <table id="employee_table" class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th> 
          <th>Positon</th>
          <th><a href="/employees/create" class="btn btn-success">Create</a></th>
        </tr>
      </thead>
      
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{result.firstName}}</td>
          <td>{{result.lastName}}</td>
          <td>{{result.position}}</td>
          <td>
            <a href="/employees/update/{{result[0]}}" class="btn btn-primary">Update</a>
            <a href="/employees/detail/{{result[0]}}" class="btn btn-info">Detail</a>
            <a href="/employees/delete/{{result[0]}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody> 
    </table>  
  </div>  
  <div class="col">
  </div>  
</div>

<script>
  $(document).ready(function() {
    $('#employee_table').DataTable();
  });
</script>


{% endblock %}