{% extends 'template.html' %}

{% block body %}

{% for result in results %}
<div class="container">
  <div class="col">
  </div>
  <div class="col">
    <h3>Update Employee Record</h3>
    <form action="/employee/update/{{result[0]}}" method="POST">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="employee_first_name" value={{result[1]}} required>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="employee_last_name" value={{result[2]}} required>
      </div>
      <div class="form-group">
        <label>Position</label>
        <input type="text" class="form-control" name="employee_position" value={{result[3]}} required>
      </div>
      <a href="/" class="btn btn-outline-secondary">Back</a>
      <button type="submit" class="btn btn-outline-primary">Update</button>
    </form>
  </div>
  <div class="col">
  </div>
</div>
{% endfor %}

{% endblock %}