{% extends 'template.html' %}

{% block body %}

<h1>Employee Directory</h1>

<button type="button">Create</button>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Position</th>
    <th></th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>CEO</td>
    <th>
      <button type="button">Edit</button>
      <button type="button">Details</button>
      <button type="button">Delete</button>
    </th>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>CFO</td>
    <th>
        <button type="button">Edit</button>
        <button type="button">Details</button>
        <button type="button">Delete</button>
    </th>
  </tr>
</table>

{% endblock %}