{% extends 'template.html' %}

{% block body %}

<h1>Employee Directory</h1>

<button type="button">Create</button>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Position</th>
    <th></th>
  </tr>

  {% for result in results %}
  
    <tr>
      <td>{{result[1]}}</td>
      <td>{{result[2]}}</td>
      <td>{{result[3]}}</td>
      <th>
        <button type="button" value={{result[0]}}>Edit</button>
        <button type="button" value={{result[0]}}>Details</button>
        <button type="button" value={{result[0]}}>Delete</button>
      </th>
    </tr>

  {% endfor %}

</table>

{% endblock %}