{% extends 'template.html' %}

{% block body %}

<h1>Employee Directory</h1>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="#">Reports</a>
</div>

<br>

<form>
  <input type="submit" value="Create" formaction="/employee/create">
</form>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Position</th>
    <th></th>
  </tr>

  {% for result in results %}

    <tr>
      <td>{{result[1]}}</td>
      <td>{{result[2]}}</td>
      <td>{{result[3]}}</td>
      <th>
        <a href="/employee/update/{{result[0]}}">Update</a>
        <a href="/employee/detail/{{result[0]}}">Details</a>
        <a href="/employee/delete/{{result[0]}}">Delete</a>
      </th>
    </tr>

  {% endfor %}

</table>

{% endblock %}